<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doll.mapper.CaptureSuccessMapper">



<!--    List<GodRankingDto> getGodRanking(@Param("size") Integer size);-->
    <select id="getGodRanking" resultType="com.doll.dto.GodRankingDto">

        SELECT `user`.avatar,`user`.nickname,counttable.dollCount
        FROM
        (SELECT user_id  userId , COUNT(*)  dollCount
        FROM capture_success
        WHERE claw_time &gt;= DATE_SUB(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY), INTERVAL 7 DAY)
        AND claw_time &lt; DATE_SUB(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) - 7 DAY), INTERVAL 7 DAY)  AND is_success=1
        GROUP BY user_id
        LIMIT #{size} )  counttable INNER JOIN `user` ON counttable.userId=`user`.id  ORDER BY dollCount DESC
    </select>

<!--    List<GodRankingDto> getLivingGodRanking(@Param("size") Integer size);-->
    <select id="getLivingGodRanking" resultType="com.doll.dto.GodRankingDto">
        SELECT `user`.avatar,`user`.nickname,counttable.dollCount
        FROM
        (SELECT user_id  userId , COUNT(*)  dollCount
        FROM capture_success
        WHERE claw_time &gt;= DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY)
        AND claw_time &lt;= NOW()  AND is_success=1
        GROUP BY user_id
        LIMIT #{size} )  counttable INNER JOIN `user` ON counttable.userId=`user`.id  ORDER BY dollCount DESC
    </select>


<!--    List<ClawRecordDto> getGameRecord(@Param("userId") Long userId);-->
    <select id="getGameRecord" resultType="com.doll.dto.ClawRecordDto">
        SELECT   capture_success.id  , commodity.`name` commodityName ,commodity.image commodityImage,
                 capture_success.claw_time clawTime,capture_success.is_success isSuccess
        FROM capture_success LEFT JOIN commodity ON capture_success.commodity_id=commodity.id
        WHERE capture_success.user_id=#{userId}
    </select>



<!--    List<ExchangeToGoldDto> exchangeCoin(@Param("userId") Long userId,@Param("status") int status,@Param("offset") int offset,@Param("pageSize") int pageSize);-->
    <select id="exchangeCoin" resultType="com.doll.dto.ExchangeToGoldDto">
        SELECT  capture_success.id  captureRecordId , commodity.image commodityImage, commodity.`name` commodityName  ,capture_success.claw_time  clawTime
             ,DATE_ADD(capture_success.claw_time,INTERVAL  1 MONTH) endTime ,commodity.`value` commodityValue
        FROM capture_success LEFT JOIN commodity ON capture_success.commodity_id=commodity.id
        WHERE capture_success.user_id=#{userId} and capture_success.is_success=1 AND capture_success.`status`=#{status}  LIMIT #{offset},#{pageSize}
    </select>


    <!--    Integer getMyDollCount(@Param("userId") Long userId,@Param("status") int status);-->
    <select id="getMyDollCount" resultType="java.lang.Integer">
        SELECT  count(*)
        FROM capture_success LEFT JOIN commodity ON capture_success.commodity_id=commodity.id
        WHERE capture_success.user_id=#{userId} and capture_success.is_success=1 AND capture_success.`status`=#{status}

    </select>












</mapper>